<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<header th:fragment="headerFragment">
		<div class="h-100 w-100 y-center justify-content-between px-4">
			<!-- 로고 영역 -->
			<div class="display-4">Outstagram</div>
			<!-- 로그인 영역 -->
			<div th:if="${session.userId != null}">
				<span th:text="${session.userName} + '님 안녕하세요.'" class="font-weight-bold"></span>
				<a href="/user/sign-out">로그아웃</a>
			</div>
			<div th:unless="${session.userId != null}">
				<a href="/user/sign-in-view">
					<h3>로그인</h3>
				</a>
			</div>
		</div>
	</header>

</html>