@charset "UTF-8";

/* 기본 태그, 설정 변경 */

/* 변수 */
:root {
	--primary-color: #36C2CE;
}

/* 범용 */
.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.x-center {
	display: flex;
	justify-content: center;
}

.y-center {
	display: flex;
	align-items: center;
}

.bg-darkdark {
	background: #525252;
}

.bg-skyblue {
	background: #3ABEF9;
}

.fs-14 {
	font-size: 14px;
}

/* 레이아웃 */
header {
	height: 100px;
	background: var(--primary-color);
}

.contents {
	min-height: 500px;
	padding: 80px 0;
}

/* 로고 */
.logo, .logo:hover {
	color: #fff;
	font-size: 43px;
	margin-bottom: 5px;
	text-decoration: none;
}

/* 타임라인 관련 */
.timeline {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.timeline-container {
	width: 30%;
	min-width: 450px;
}

.new-post {
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	padding: 5px 8px;
}

.new-post-area {
	font-size: 15px;
	width: 100%;
	border: 0;
}

/* 카드(Card) */
.card {
	margin: 30px 0;
}

.card-header {
	padding: 0 0.5rem 0 1rem;
	display: flex;
	background: #fff;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.card-header-text {
	font-size: 16px;
	font-weight: bold;
}

.card-header-more {
	width: 30px;
}

.card-img-src {
	width: 100%;
}

.card-like {
	padding: .8rem .7rem;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.like {
	width: 20px;
	cursor: pointer;
}

.card-content {
	padding: .1rem .7rem;
	font-size: 14px;
}

.card-comment {
	padding: .3rem .7rem .8rem .7rem;
	font-size: 14px;
}

.comment-delete {
	width: 8px;
	cursor: pointer;
}

.comment {
	display: flex;
	justify-content: space-between;
	margin: 6px 0;
}

.new-comment {
	display: flex;
}

.new-comment input {
	padding: .2rem .5rem;
	margin-right: .2rem;
	font-size: 14px;
	border: 0;
}

.new-comment button {
	padding: .3rem .6rem;
	font-size: 14px;
	white-space: nowrap;
}

/* 로그인, 회원가입 관련 */
.sign-box {
	display: flex;
	justify-content: center;
}

.sign-input-box {
	background: #f5f5f5;
	padding: 100px 200px;
	box-shadow: 0 5px 5px #808080;
	border-radius: 2px;
}

#checkIdDupBtn {
	height: 80%;
	font-size: 17px;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 14px;
}

#signUpForm label {
	margin-left: 2px;
}

/* input 박스 */
.input-type-a {
	font-size: 17px;
	height: 48px;
	border-radius: 8px;
	box-shadow: 0 1px 3px #ccc;
}

/* 너비 */
.w-320px {
	width: 320px;
}

/* 버튼 */
.btn-sign {
	font-size: 22px;
	width: 146px;
	color: white;
	border-radius: 8px;
}

.btn-upload {
	font-size: 15px;
	color: white;
	border-radius: 10px;
	padding: .2rem .95rem;
}