@charset "UTF-8";

/* 기본 태그, 설정 변경 */

/* 변수 */
:root {
	--primary-color: #36C2CE;
}

/* 범용 */
.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.x-center {
	display: flex;
	justify-content: center;
}
.y-center {
	display: flex;
	align-items: center;
}

/* 레이아웃 */
header {
	height: 100px;
	background: var(--primary-color);
}
.contents {
	min-height: 500px;
	padding: 80px 0;
}


/* 타임라인 관련 */
.timeline {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.timeline-Container {
	width: 40%;
	min-width: 500px;
}
.new-post {
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
}
.new-post-area {
	font-size: 18px;
	width: 100%;
	border: 0;
}

/* 로그인, 회원가입 관련 */
.sign-box {
	display: flex;
	justify-content: center;
	
}
.sign-input-box {
	background: #f5f5f5;
	padding: 100px 200px;
	box-shadow: 0 5px 5px #808080;
	border-radius: 2px;
}
#checkIdDupBtn {
	height: 80%;
	font-size: 17px;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 14px;
}
#signUpForm label {
	margin-left: 2px;
}

/* input 박스 */
.input-type-a {
	font-size: 17px;
	height: 48px;
	border-radius: 8px;
	box-shadow: 0 1px 3px #ccc;
}

/* 너비 */
.w-320px {
	width: 320px;
}

/* 버튼 */
.btn-sign {
	font-size: 22px;
	width: 146px;
	color: white;
	border-radius: 8px;
}
.btn-upload {
	font-size: 18px;
	width: 75px;
	color: white;
	border-radius: 10px;
}

/* 배경색 */
.bg-darkdark {
	background: #525252;
}
.bg-skyblue {
	background: #3ABEF9;
}

