<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/defaultLayout}">

<!-- defaultLayout: content -->
<section layout:fragment="content" class="contents timeline">

	<!-- 타임라인 컨테이너 -->
	<div class="timeline-container">
		<!-- New Post 작성 (로그인O) -->
		<div th:if="${session.userId != null}" class="new-post">
			<textarea id="newContent" class="new-post-area" rows="4" placeholder="내용을 입력해주세요."></textarea>
			<div class="d-flex justify-content-between mt-1">
				<div class="file-upload y-center">
					<!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. -->
					<input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">
					
					<!-- 이미지에 마우스 올리면 커서가 link로 변경 -->
					<a href="#" id="fileUploadBtn"><img width="32" src="/img/file-upload-icon.webp"></a>
					
					<!-- 현재 선택된 이미지 파일명을 보여줌 -->				
					<div id="fileName" class="ml-2"></div>
				</div>
				<button id="uploadBtn" class="btn btn-secondary btn-upload">게시</button>
			</div>
		</div>
		
		<!-- 타임라인 카드 영역 (로그인 상관x) -->
		<div th:each="card : ${cardViewList}" class="card">
			
			<!-- 글쓴이, 더보기(삭제) -->
			<div class="card-header">
				<div class="card-header-text" th:text="${card.user.name}">marobiana</div>
				<a th:if="${session.userId == card.user.id}" class="card-header-more">
					<img src="/img/more-icon.png" width="100%">
				</a>
			</div>
			
			<!-- 본문 이미지 -->
			<div class="card-img">
				<img alt="게시물" th:src="${card.post.imagePath}" class="card-img-src">
			</div>
			
			<!-- 좋아요 -->
			<div class="card-like">
				<img th:if="${card.liked}" alt="좋아요" src="/img/heart-click-icon.png" th:data-post-id="${card.post.id}" class="like mr-2">
				<img th:unless="${card.liked}" alt="좋아요" src="/img/heart-icon.png" th:data-post-id="${card.post.id}" class="like mr-2">
				<span th:text="|좋아요 ${card.likeCount}개|">좋아요 개수</span>
			</div>
			
			<!-- 글 내용 -->
			<div th:if="${card.post.content != ''}" class="card-content">
				<span class="font-weight-bold mr-1" th:text="${card.user.name}">marobiana</span>
				<span th:text="${card.post.content}">비지도 학습을 해본 결과입니다. cluster 알고리즘을 사용해봤어요.</span>
			</div>
			
			<div class="fs-14 border-top font-weight-bold pt-2 pl-2 mt-2">댓글</div>
			
			<!-- 댓글 목록 -->
			<div class="card-comment">
				<!-- 댓글 -->
				<div th:each="commentView : ${card.commentList}" class="comment">
					<div>
						<span class="font-weight-bold mr-1" th:text="${commentView.user.loginId}">작성자</span>
						<span th:text="${commentView.comment.content}">내용</span>
					</div>
					
					<!-- 댓글 삭제 -->
					<div>
						<small th:text="${#temporals.format(commentView.comment.createdAt, 'M월 d일')}" class="text-secondary"></small>
						<img th:if="${commentView.comment.userId == session.userId}" src="/img/x-icon.png"
						 th:data-comment-id="${commentView.comment.id}" th:data-comment-user-id="${commentView.comment.userId}" class="comment-delete">
					</div>
				</div><!-- 댓글 1개 끝 -->
			</div><!-- 댓글 목록 끝-->
			
			<!-- 댓글 쓰기 -->
			<div th:if="${session.userId != null}" class="new-comment">
				<input type="text" class="comment-input form-control" placeholder="댓글달기">
				<button th:data-post-id="${card.post.id}" th:data-user-id="${session.userId}" type="button" class="comment-btn btn btn-light">게시</button>
			</div>
		</div><!-- 카드영역 끝 -->
	</div>
</section>

<!-- defaultLayout: script -->
<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			
			// 이미지 a태그 클릭 => 숨겨져있는 id="file" 태그 동작시키기
			$('#fileUploadBtn').on('click', function(e) {
				e.preventDefault(); // <a>태그에 의해 위로 올라가는 것을 방지
				
				// input file을 클릭
				$("#file").click();
			}); //-- 이미지 <a> 클릭
			
			// 파일이 선택될 때, 1.유효성 체크 2.파일명 노출
			$("#file").on('change', function(e) {
				// 취소를 누를 때 처리 (취소도 change로 들어옴)
				// 파일이 비워지므로 .name에서 에러 발생
				let file = e.target.files[0];
				if (file == null) { // 취소가 눌려서 file이 null인 상태
					$("#file").val("");
					$("#fileName").text("");
					return;
				}
				
				
				let fileName = file.name; // 현재 change된 file의 이름을 가져옴 				
				console.log(fileName); // Jinshi.jpg (fakpath가 아닌 실제 이름을 가져옴) 
				
				// 1. 확장자 validation
				let ext = fileName.split(".").pop().toLowerCase();

				if (ext != "gif" && ext != "png" && ext != "jpg") {
					alert("이미지 파일만 업로드 할 수 있습니다.");
					
					// 1) ☆☆☆ 잘못된 파일 제거, 보이지 않지만 꼭 처리해야함!!
					$("#file").val("");
					// 2) 파일명도 초기화
					$("#fileName").text("");
					return;
				}

				// 2. 파일명 노출
				$("#fileName").text(fileName);
				
			})//-- file change
			
			// 파일 업로드
			$("#uploadBtn").on('click', function() {
				let content = $("#newContent").val();
				let file = $("#file")[0].files[0];
				
				// validation - file 여부, 확장자 검사
				if (!file) {
					alert("이미지를 1개 이상 올려주세요.");
					return;
				}
				
				let extension = file.name.split(".").pop().toLowerCase();
				console.log(extension);
				if ($.inArray(extension, ["jpg", "png", "gif"]) == -1) {
					alert("이미지 파일만 업로드 할 수 있습니다.");
					$("#file").val("");
					$("#fileName").text("");
					return;
				}
				
				// form 데이터 만들기				
				let formData = new FormData();
				formData.append("content", content);
				formData.append("file", file);
				
				// AJAX - content, file
				$.ajax({
					// request
					type:"post"
					, url:"/post/create"
					, data:formData
					, enctype:"multipart/form-data"
					, processData:false
					, contentType:false
					
					// response
					, success:function(data) {
						if (data.code == 200) {
							location.reload();
						} else if (data.code == 403) { // 비로그인 일때
							alert(data.error_message);
							location.href = "/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("AJAX ERROR : 글 쓰기 실패");
					}
					
				}); //-- ajax
			}); //-- 타임라인 글 쓰기
			
			// 댓글 작성 - 엔터로도 동작하게
			$('.comment-input').on('keypress', function(e){
				if(e.keyCode == '13'){
					$(this).siblings(".comment-btn").click();
				}
			});
			
			// 댓글 작성
			$(".comment-btn").on('click', function(e) {
				// postId, content 가져오기				
				let postId = $(this).data("post-id");
				let content = $(this).siblings(".comment-input").val().trim();
				
				// validation
				if (!content) {
					$(this).siblings(".comment-input").focus();
					return;
				}
				
				// AJAX - content, postId
				$.post("/comment/create", {"postId":postId, "content":content})
				.done(function(data) {
					if (data.code == 200) {
						location.reload();
					} else if (data.code == 403) { // 로그인 실패
						alert(data.error_message);
					} else { // 그 외 에러
						alert(data.error_message);
					}
				})
				.fail(function(e) {
					alert("AJAX ERROR : 댓글 작성 실패");
				});
				
			}); //-- 댓글 작성

			// 댓글삭제
			// th:data-comment-id="${commentView.comment.userId}" class=comment-delete
			$(".comment-delete").on('click', function(e) {
				let commentId = $(this).data("comment-id");
				let userId = $(this).data("comment-user-id");

				// AJAX 요청
				$.ajax({
					url:"/comment/delete"
					, type:"delete"
					, data:{"commentId":commentId, "userId":userId}
					, success:function(data) {
						if (data.code == 200) {
							location.reload();
						} else if (data.code == 403) {
							alert(data.error_message);
							location.reload();
						}
					}
					, error:function(e) {
						alert("AJAX ERROR : 댓글 삭제 실패");
					}
				}); //-- delete ajax 
			}); //-- 댓글삭제 버튼
		
			// 좋아요 토글
			$(".like").on('click', function(e) {
				let postId = $(this).data("post-id");
				
				$.ajax({
					type:"get"
					, url:"/like/" + postId //-- 바로 postId를 보내므로 data가 필요없음
					, success:function(data) {
						if (data.code == 200) {
							location.reload(); // 새로고침 => 타임라인 화면 뿌려질 떄 하트 여부 나타냄
						} else if (data.code == 403) {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("AJAX ERROR : 좋아요 실패");
					}
					
				}); //-- ajax
			});
		}); //-- ready
	</script>
</th:block>

</html>